/* header{
    max-width: 1600px;
} */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared Style */
.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.logo h2{
    font-size: 45px;
    font-weight: 900px;
    
}

.color-orange{
    color: #FD6E0A;
}



/* Main style */
 header{
    background-color: #FFF8F3;
    background: url("developer.png") ,url("header_bg.png"), #FFF8F3 ;
    /* background: url("header_bg.png") , #FFF8F3; */
    background-repeat: no-repeat;
    background-position: top left , bottom right;
    /* uporer space ar jonno */
    padding-top: 50px;
 }
 
nav{
    width: 71%;
    max-width: 1140px;
    /* border: 1px solid black; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
     gap: 51px;
     color: #474747;
     font-size: 20px;
    align-items: center;


}
.btn{
    padding: 18px 36px;
    font-size: 20px;
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

/*  list like fota uthanor jonno */
nav li{
    list-style: none;
    margin-right: 15px;
}

/* underline uthanor jonno */
nav li a{
    text-decoration: none;
}

#banner{
    /* border: 1px solid red; */
    margin: 46px 38px 0px 230px;
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-content{
    max-width: 585px;
}
.banner-content h2{
    font-size: 45px;
    font-weight: 600px;
    color: #474747;
    margin-bottom: 5px;
}
.banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
}
.banner-content p{
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
    line-height: 30px;
}
/* About Section */
#about{
    /* width: 71%;
    max-width: 1140px;
    margin: o auto; */
    padding-top: 130px;
}
#about .about-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    padding: 130px 150px;
    background-color: #FFF8F3;
}
#about .section-heading h4{
    font-size:35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 30px;

}
#about .section-heading p{
    font-size:18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
    
}
/*  box a <p> ar vitore line thik orar jonno eta use kora hoy */
.section-heading{
    max-width: 827px;
}
.about-info{
    display: flex;
    justify-content: space-around;
    gap: 50px;
}
.info-card p{
    font-size: 20px;
    line-height: 30px;
    color: #757575;
}
.info-card h2{
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    color: black;
}